<ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </ion-thumbnail>
    <ion-label>Welcome to Mercury</ion-label>
  </ion-item>

  <ion-card-content>
    A platform to exchange items
    <ion-icon name="logo-android"></ion-icon>
    <ion-icon name="logo-apple"></ion-icon>
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="assets/home/uni.jpg" />
  <ion-card-content>
    <ion-card-title>
      Built in philadelphia university
    </ion-card-title>
    <p>
      A project with the guide of Dr. Hassan Moh'd Hasan Alrefai,
      Built to the purpose of trying to replace the money factor
      in some of the tading that happening today, or just
      for amateurs
    </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="assets/home/group.png" />
  <ion-card-content>
    <ion-card-title>
      A group of IT students in philadelphia university
    </ion-card-title>
    <!-- <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p> -->
  </ion-card-content>
</ion-card>
