<ion-header>
  <ion-toolbar>
    <ion-title>USER_NAME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/profile/profile.png" />
    <!-- <div class="card-title">São Paulo</div> -->
    <!-- <div class="card-subtitle">41 Listings</div> -->
  </ion-card>

  <div align="center">
    <h1> Information </h1>
    <img class="profile-image" src="assets/home/group.png">
    <h4>ROWAD</h4>
    <h5>21 years old</h5>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Number of posts</ion-label>
      <ion-chip>
        <ion-label>99</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Followers</ion-label>
      <ion-chip>
        <ion-label>99</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Following</ion-label>
      <ion-chip>
        <ion-label>99</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-chip>
        <ion-label>99</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Follow</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text color="primary">
        <p><b>About</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, dolorum in? Architecto
          iusto
          quibusdam inventore quos nisi deleniti ducimus repudiandae.</p>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
